:root{
    font-family: 'Varela Round', sans-serif;
    box-sizing: content-box;
}
html, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height:100%;
    width:100%;
}
.grid-item{
    background-color: white;
    font-size: 100px;
    text-align: center;
    cursor:pointer;
    user-select: none;
    line-height: 1.25;
    transition:background-color 0.2s ease,color 0.3s ease;
}
.grid-item:hover{
    background-color: gainsboro;
}
.player-container{
    background-color: gainsboro;
    user-select: none;
    font-size: 100px;
    text-align: center;
    border:2px solid rgba(0, 0, 0, 0.555);
    border-radius: 10px;
    padding:0px 40px;
    
    font-size:18pt;
}
.player-icon{
    font-size: 100px;
}
.fa-circle{
    visibility:hidden;
    margin:20px 0px;
    font-size:30pt;
}
.fa-trophy{
    visibility:hidden;
    margin:20px 0px;
    font-size:30pt;
    color:goldenrod;
}
.grid-container{
    background-color: black;
    height:400px;
    width: 400px;
    min-width: 400px;
    min-height: 400px;
    display:grid;
    gap: 8px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
body{
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    
    border-radius: 100%;
}
.main{    
    display: flex;
    width:min(1300px,100%);
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}
.button-container{
    display:flex;
    width:100%;
    justify-content:space-around;
    max-width: 500px;
}
button{
    border-radius: 10px;
    border:2px solid rgba(0, 0, 0, 0.555);
    background-color: gainsboro;
    padding: 10px 10px;
    width:120px;
    font-size: 16pt;
}
button:hover{
    background-color: rgba(128, 128, 128, 0.473);
}
button:active{
    background-color: rgba(0, 0, 0, 0.555);
}
@media (max-width: 920px){
    .main{
        flex-direction: column;
        gap:30px;
    }
    .player-container{
        padding: 0;
        font-size:42pt;
        display:flex;
        align-items:center;
        gap:10px;
        flex-wrap: wrap;
        padding: 0px 20px;
    }
}
h1{
    font-size: 45pt;
}
@media (max-width:500px){
    .grid-container{
        height:300px;
        width: 300px;
        min-width: 300px;
        min-height: 300px;
    }
    .grid-item{
        line-height: 0.9;
    }
    .main{
        gap:10px;
    }
    body{
        gap:10px;
    }
}
.glow{
    color:gold;
}
.show{
    visibility:visible;
}