:root{
    font-family: 'Varela Round', sans-serif;
}
html, body{
    margin:0;
    padding: 0;
    height:100%;
    width:100%;
}
body{
    width:98%;
    margin:0 auto;
}
.grid-item{
    background-color: white;
    font-size: 100px;
    text-align: center;
    cursor:pointer;
    user-select: none;
    line-height: 1.25;
    transition:background-color 0.2s ease,color 0.3s ease;
}
.grid-item:hover{
    background-color: gainsboro;
}
.player-container{
    text-align:center;
    background-color: gainsboro;
    user-select: none;
    font-size: 100px;
    text-align: center;
    border:2px solid rgba(0, 0, 0, 0.555);
    border-radius: 10px;
    padding:0px 40px;
    font-size:18pt;
    box-sizing: border-box;
    max-width: 350px;
}
.player-icon{
    font-size: 100px;
}
.fas{
    font-size:30pt;
}
.fa-circle{
    visibility:hidden;
    margin:20px 0px;
}
.fa-trophy{
    visibility:hidden;
    margin:30px 0px;
    color:goldenrod;
}
.grid-container{
    position: relative;
    height:400px;
    width:0;
    display:grid;
    justify-content: center;
    justify-self: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

.grid-item{
    width:calc(384px/3);
}
.grid-item:nth-child(-n+3){
    border-bottom: solid 8px black;
}
.grid-item:nth-child(3n+1){
    border-right: solid 8px black;
}
.grid-item:nth-child(3n){
    border-left: solid 8px black;
}
.grid-item:nth-child(n+7){
    border-top: solid 8px black;
}
body{
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
}
.main{    
    display: grid;
    grid-template-columns: minmax(0,1fr) 0 minmax(0,1fr);
    
    column-gap:clamp(220px, 20vw, 400px);
    margin-bottom: 10px;
    
}
.main > *{
    word-wrap:break-word;
}
.button-container{
    display:flex;
    width:100%;
    justify-content:space-around;
    max-width: 500px;
}
button{
    border-radius: 10px;
    border:2px solid rgba(0, 0, 0, 0.555);
    background-color: gainsboro;
    padding: 10px 10px;
    width:120px;
    font-size: 16pt;
}
button:hover{
    background-color: rgba(128, 128, 128, 0.473);
}
button:active{
    background-color: rgba(0, 0, 0, 0.555);
}
h1{
    font-size: 45pt;
}
.glow{
    color:gold;
}
.show{
    visibility:visible;
}

@media (max-width: 920px){
    .main{
        display:flex;
        flex-direction: column;
        align-items: center;
        gap:30px;
    }
    .player-container{
        font-size:20pt;
        display:flex;
        align-items:center;
        justify-content: center;
        column-gap:10px;
        flex-wrap: wrap;
        padding: 0px 20px;
        padding-bottom: 5px;
        margin:0px 10px;
        max-height: 200px;
        max-width: none;
        width:100%;
    }
    .fa-trophy, .fa-circle{
        margin:0px;
    }
    .info{
        display:flex;
        align-items: center;
        gap:10px;
    }
    .player-name{
        word-break:break-all;
    }
    h1{
        font-size: 40pt;
        margin:5px;
    }
    .player-icon{
        font-size: 70px;
    }
}
@media (max-width:500px){
    .grid-item{
        width:calc(284px/3);
    }
    .grid-container{
        height:300px;
    }
    .grid-item{
        line-height: 0.9;
    }
    .main{
        gap:10px;
    }
}
